@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;

    ViewData["Title"] = "HomePage";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        DashBord
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/AddHome.css" />
     
</head>

<body>
    <form asp-controller="AddHome" asp-action="AddPropertyInfo" method="post">
<div class="AddHomePage">
    <h2>Property Information Form</h2>
    <br />
    <label>UserId:</label>
    <br />
    <label>Property Status</label>
    <select id="ddlPropertyStatus" name="PropertyStatus" class="form-control">
        <option value="">Select Status</option>
        <option value="Pending">Pending</option>
        <option value="Available">Available</option>
        <option value="Coming soon">Coming soon</option>
        <option value="Renovating">Renovating</option>
    </select>
    <br />

    <label for="txtBuildingNumber">Building Number</label>
    <input type="text" id="txtBuildingNumber" name="BuildingNumber" class="form-control" />
    <br />

    <label for="txtStreet">Street Address</label>
            <input type="text" id="txtStreet" name="Street" class="form-control" />
    <br />

    <label for="txtCity">City</label>
            <input type="text" id="txtCity" name="City" class="form-control" />
    <br />

    <label for="txtState">State</label>
            <input type="text" id="txtState" name="State" class="form-control" />
    <br />

    <label for="txtZipCode">Zip Code</label>
            <input type="number" id="txtZipCode" name="ZipCode" class="form-control" value="0" />
    <br />

    <label>Property Type</label>
    <div>
                <input type="radio" id="House" name="PropertyType" value="House" />
        <label for="House">House</label>
                <input type="radio" id="Townhomes" name="PropertyType" value="Townhomes" />
        <label for="Townhomes">Townhomes</label>
                <input type="radio" id="Multi-family" name="PropertyType" value="Multi-family" />
        <label for="Multi-family">Multi-family</label>
                <input type="radio" id="Apartments" name="PropertyType" value="Apartments" />
        <label for="Apartments">Apartments</label>
                <input type="radio" id="Manufactured" name="PropertyType" value="Manufactured" />
        <label for="Manufactured">Manufactured</label>
                <input type="radio" id="Condos" name="PropertyType" value="Condos" />
        <label for="Condos">Condos</label>
    </div>
    <br />
    @* different Methode *@
    <div id="Rooms">
        <label for="txtNoBedrooms">Number of Bedrooms</label>
        <input type="number" id="txtNoBedrooms" name="Bedrooms" class="form-control"/>
        <br />

        <label for="txtNoBathrooms">Number of Bathrooms</label>
        <input type="number" id="txtNoBathrooms" name="Bathrooms" class="form-control"/>
        <br />
@* Room Info *@
        <label for="ddlRoomName">Select Room</label>
        <select id="ddlRoomName" name="RoomName" class="form-control">
            <option>Select Room</option>
            <option value="Main Bedroom">Main Bedroom</option>
            <option value="Bedroom">Bedroom</option>
            <option value="Living Room">Living Room</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Bathroom">Bathroom</option>
            <option value="Dining Room">Dining Room</option>
            <option value="Office">Office</option>
            <option value="Basement">Basement (Finished)</option>
        </select>
        <br />

        <label for="txtWidth">Width (ft):</label>
        <input type="number" id="txtWidth" name="Width" class="form-control" value="0" placeholder="Enter width in feet" />
        <br />

        <label for="txtLength">Length (ft):</label>
        <input type="number" id="txtLength" name="Length" class="form-control" value="0" placeholder="Enter length in feet" />
        <br />

        <button type="button" class="btn btn-primary">Add Room</button>
        <br /><br />

        <select id="libRoomData" name="RoomData" class="form-control" multiple="multiple" style="height: 200px;"></select>
    </div> 
    <br />
    @* different Methode *@
    @* <label for="fileUpload">Add Front Image:</label>
    <input type="file" id="fileUpload" name="mainImages" class="form-control" />
    <br />
    <label for="fileUpload">Add Room Images:</label>
    <input type="file" id="fileUpload" name="roomsImages" class="form-control" multiple="multiple" />
    <br /><br /> *@

    <label>Amenities</label>
    <div>
                <input type="checkbox" id="SwimmingPool" name="HomeAmenities" value="SwimmingPool" />
        <label for="SwimmingPool">Swimming Pool</label>
                <input type="checkbox" id="Gym" name="HomeAmenities" value="Gym" />
        <label for="Gym">Gym</label>
                <input type="checkbox" id="Garden" name="HomeAmenities" value="Garden" />
        <label for="Garden">Garden</label>
                <input type="checkbox" id="Fireplace" name="HomeAmenities" value="Fireplace" />
        <label for="Fireplace">Fireplace</label>
                <input type="checkbox" id="AirConditioning" name="HomeAmenities" value="AirConditioning" />
        <label for="AirConditioning">Air Conditioning</label>
                <input type="checkbox" id="Internet" name="HomeAmenities" value="Internet" />
        <label for="Internet">Internet</label>
                <input type="checkbox" id="SecuritySystem" name="HomeAmenities" value="SecuritySystem" />
        <label for="SecuritySystem">Security System</label>
                <input type="checkbox" id="SmockAlarm" name="HomeAmenities" value="Smock Alarm" />
        <label for="SmockAlarm">Smock Alarm</label>
    </div>
    <br />

    <label for="ddlHeating">Heating</label>
    <select id="ddlHeating" name="Heating" class="form-control">
        <option>Select Heating</option>
        <option value="CentralHeating">Central Heating</option>
        <option value="RadiantHeating">Radiant Heating</option>
        <option value="None">None</option>
    </select>
    <br />

    <label for="ddlCooling">Cooling</label>
    <select id="ddlCooling" name="Cooling" class="form-control">
        <option>Select Cooling</option>
        <option value="CentralAir">Central Air</option>
        <option value="WindowUnit">Window Unit</option>
        <option value="None">None</option>
    </select>
    <br />

    <label for="txtYearBuilt">Year Built</label>
    <input type="number" id="txtYearBuilt" name="YearBuilt" class="form-control" value="0" />
    <br />

    <label for="ddlGarage">Garage</label>
    <select id="ddlGarage" name="Garage" class="form-control">
        <option value="None">None</option>
        <option value="1 Car">1 Car</option>
        <option value="2 Car">2 Car</option>
        <option value="3 Car">3 Car</option>
        <option value="4 Car">4 Car</option>
    </select>
    <br />

    <label>Utilities</label>
    <div>
                <input type="checkbox" id="Electricity" name="HomeUtility" value="Electricity" />
        <label for="Electricity">Electricity</label>
                <input type="checkbox" id="WaterSupply" name="HomeUtility" value="WaterSupply" />
        <label for="WaterSupply">Water Supply</label>
                <input type="checkbox" id="GasSupply" name="HomeUtility" value="GasSupply" />
        <label for="GasSupply">Gas Supply</label>
                <input type="checkbox" id="SewageSystem" name="HomeUtility" value="SewageSystem" />
        <label for="SewageSystem">Sewage System</label>
                <input type="checkbox" id="TrashDisposal" name="HomeUtility" value="TrashDisposal" />
        <label for="TrashDisposal">Trash Disposal</label>
                <input type="checkbox" id="SwimmingPoolUtility" name="HomeUtility" value="SwimmingPool" />
        <label for="SwimmingPoolUtility">Swimming Pool</label>
    </div>
    <br />

    <label for="txtAskingPrice">Asking Price</label>
    <input type="number" id="txtAskingPrice" name="AskingPrice" class="form-control"/>
    <br />

    <label for="txtDescription">Description</label>
    <textarea id="txtDescription" name="Description" class="form-control" rows="4">N/A</textarea>
    <br />

            <div>
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </div>


    <button id="btnAddProperty" name="btnAddProperty" class="btn btn-success">Add Property</button>
    </div>
    </form>

</body>
</html>
